# Build
build/
build_asan/
build_ubsan/
build_release/
cmake-build-*/

# IDEs
.idea/
.vscode/

# Compile commands
compile_commands.json

# Logs
*.log

# Coverage
coverage/

# Sanitizers
*.asan

# Executables
argentum_client
argentum_server
argentum_tests